<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio - Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
   
    <h1>EC2</h1>
    <h2>Welcome to My Portfolio</h2>
    <p>Email:aartisalunkhe@eng.rizvi.edu.in</p>
    <p>Contact:7900167301</p>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <h2>Hello, I'm Aarti Kiran Salunkhe </h2>
    <p>This is a simple portfolio website built with Express.js.</p>
    <img src="\images\Aarti.jpg" alt="Sample Portfolio Image" width="300">
  </main>
</body>
</html>